/* #B80C09 #0B4F6C #FFFBFC #01BAEF #040F16 */
	body {
		width: 100%;
	}
	main {
		margin-top: 105px;
		margin-left: 20px;
	}

	.container {
		margin: 0 auto;
	}

	.logo {
		float: left;
		height: 105;
	}

	.search {
		list-style: none;
		border-style: none;
		margin-left: 100px;
		border-style: none;
	}

	.header {
		background: #01BAEF;
		width: 99%;
		top: 0;
		position: fixed;
		height: 100px;
		z-index: 10;
	}
	
	.nav {
		position: fixed;
		margin-left: 200px;
	}

	.nav li {
		display: inline-block;
		font-size: 20px;
		margin: 0px 25px 0px 25px;
		margin-top: 15px;
	}

	.nav a {
		color: #0B4F6C;
	}

	.nav a:hover {
	    color: #FFFBFC;
	}
	
	.headerimg {
		height: 100px;
		width: 100px;
		margin-bottom: 0px;
	}

	.searchbalk {
		margin-top: 0;
		width: 400px;
		height: 40px;
		border-radius: 10px;
	}
	
	.text {
		margin-left: 10px;
	}

	.hoofd {
		font-size: 40px;
		border-left-style: solid;
		border-left-color: #0B4F6C;
		border-left-width: 5px;
		background: #01BAEF;
		display: inline-block;
	}

	.tekst {
		font-size: 20px;
	}

	.tekst ul {
		font-size: 20px
	}

	.grid {
		margin-top: 100px;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	/*sale*/
	.LaptopimgHP {
	}

	.hplaptop {
		display: flex;
		justify-content: flex-start;
	}

	.hplaptop a {
		font-size: 30px;
		padding-top: 10px;
	}

	footer {
		border-top-style: solid;
		border-top-width: 1px;
		margin-top: 10px
	}

	.hpbutton {
		width: 300px;
		margin-top: 10px;
		margin-left: 20px;
		height: 40px;
		border-radius: 10px;
		background: #B80C09;
	}

	.price {
		font-size: 60px;
		margin-left: 250px
	}
	.rechtslaptop {
		display: flex;
	}

	.flexx {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}